@model EsteticaAvanzada.Models.PlanAplicacionViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/ModalLayout.cshtml";
}

<style>
    .checkbox-container {
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: pink;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 15px;
    }

        .checkbox-container input[type="checkbox"] {
            margin-right: 10px;
            width: 20px;
            height: 20px;
        }

        .checkbox-container label {
            margin: 0;
            font-weight: 500;
            font-size: 1rem;
        }

    .imagenes {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .imagen-item {
        border: 1px solid #ccc;
        padding: 5px;
        text-align: center;
    }

    .zoom {
        padding: 5px;
        background-color: transparent;
        transition: transform .2s;
        width: auto;
        height: auto;
        margin: 0 auto;
    }

        .zoom:hover {
            -ms-transform: scale(2); /* IE 9 */
            -webkit-transform: scale(2); /* Safari 3-8 */
            transform: scale(2);
        }
</style>

<div class=" col-md-12">
    <div class=" card">
        <form asp-action="Details" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <input type="hidden" asp-for="Paciente!.Id" />
            <div class=" card-header text-center">
                <h5>Botox</h5>
                <h7> Datos del paciente</h7>
                <div class=" row">
                    <div class=" col-md-6">
                        <div class="form-group">
                            <label>Numero de identidad: </label>
                            <input asp-for="Paciente!.DNI" class="form-control" readonly="true" />
                            <span asp-validation-for="Paciente!.DNI" class="text-danger"></span>
                            <label>Nombre: </label>
                            <input asp-for="Paciente!.NombrePaciente" class="form-control" readonly="true" />
                            <span asp-validation-for="Paciente!.NombrePaciente" class="text-danger"></span>
                            <label>Edad: </label>
                            <input asp-for="Paciente!.Edad" class="form-control" readonly="true" />
                            <span asp-validation-for="Paciente!.Edad" class="text-danger"></span>
                            <label>Sexo: </label>
                            <input asp-for="Paciente!.Sexo" class="form-control" readonly="true" />
                            <span asp-validation-for="Paciente!.Sexo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Telefono: </label>
                            <input asp-for="Paciente!.Telefono" class="form-control" readonly />
                            <span asp-validation-for="Paciente!.Telefono" class="text-danger"></span>
                            <label>Correo: </label>
                            <input asp-for="Paciente!.Correo" class="form-control" readonly />
                            <span asp-validation-for="Paciente!.Correo" class="text-danger"></span>
                            <label>Direccion: </label>
                            <input asp-for="Paciente!.Direccion" class="form-control" readonly />
                            <span asp-validation-for="Paciente!.Direccion" class="text-danger"></span>
                            <label> Profesion: </label>
                            <input asp-for="Paciente!.Profesion" class="form-control" readonly />
                            <span asp-validation-for="Paciente!.Profesion" class="text-danger"></span>
                            <label> Contacto de emergencia: </label>
                            <input asp-for="Paciente!.Contacto" class="form-control" readonly />
                            <span asp-validation-for="Paciente!.Contacto" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" card-body text-center">
                <div>
                    <h6>Detalles de Aplicación</h6>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.BotoxAplicacion!.Frontal)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.BotoxAplicacion!.Frontal)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.BotoxAplicacion!.Corrugador)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.BotoxAplicacion!.Corrugador)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.BotoxAplicacion!.Procerus)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.BotoxAplicacion!.Procerus)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.BotoxAplicacion!.OrbicularOjos)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.BotoxAplicacion!.OrbicularOjos)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.BotoxAplicacion!.Nasal)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.BotoxAplicacion!.Nasal)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.BotoxAplicacion!.OrbicularLabios)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.BotoxAplicacion!.OrbicularLabios)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.BotoxAplicacion!.Mentoniano)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.BotoxAplicacion!.Mentoniano)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.BotoxAplicacion!.Otras)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.BotoxAplicacion!.Otras)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.BotoxAplicacion!.TotalUnidadesInyectadas)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.BotoxAplicacion!.TotalUnidadesInyectadas)
                        </dd>
                        <dt class="col-sm-6">
                            Próxima Sesión
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.BotoxAplicacion!.ProximaSesion)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.BotoxAplicacion!.NumeroLote)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.BotoxAplicacion!.NumeroLote)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.BotoxAplicacion!.ZonasAplicadas)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.BotoxAplicacion!.ZonasAplicadas)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.BotoxAplicacion!.Observaciones)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.BotoxAplicacion!.Observaciones)
                        </dd>
                    </dl>
                </div>
                <hr />
                <div class="col-md-10">
                    <h7>Agregar Imagen</h7>
                    <div class="form-group">
                        <label>Imagen</label>
                        <input type="file" class="form-control mb-3" name="file">
                    </div>
                </div>
                <div>
                    <h6>Imágenes</h6>
                    <div class="imagenes">
                        @foreach (var imagen in Model.Fotos)
                        {
                            <div class="imagen-item zoom">
                                <img src="@imagen.RutaArchivo" alt="@imagen.NombreArchivo" style="width:200px;height:200px;" />
                                <p>@imagen.FechaSubida.ToString("dd/MM/yyyy")</p>
                            </div>
                        }
                    </div>
                </div>
                <hr />
                <h6>Consentimiento informado</h6>
                <a asp-controller="Botox"
                   asp-action="PDFBotulinica"
                   asp-route-id="@Model.BotoxAplicacion!.Id"
                   class="btn btn-danger btn-sm mb-2"><i class="fa-solid fa-file-pdf"></i> Toxina Botulinica</a>
            </div>
            <div class=" form-group text-center">
                <button type="submit" class="btn btn-sm btn-success mb-2"><i class="oi oi-check"></i> Guardar</button>
                <button type="button" class="btn btn-sm btn-primary mb-2" data-bs-dismiss="modal"><i class="oi oi-ban"></i> Volver</button>
            </div>
        </form>      
    </div>
</div>

