@model IEnumerable<EsteticaAvanzada.Data.Entidades.DepilacionLaser>
@{
    ViewData["Title"] = "Index";
}

@section Estilos {
    <link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@if (TempData["AlertMessage"] != null)
{
    <script>
        $(function () {
            Swal.fire({
                title: '¡Éxito!',
                text: '@TempData["AlertMessage"]',
                icon: 'success',
                confirmButtonText: 'Aceptar'
            });
        });
    </script>
}

@if (TempData["ErrorMessage"] != null)
{
    <script>
        $(function () {
            Swal.fire({
                title: '¡Error!',
                text: '@TempData["ErrorMessage"]',
                icon: 'warning',
                confirmButtonText: 'Aceptar'
            });
        });
    </script>
}

<p>
    <a onclick="showInPopup('@Url.Action("Create", "Depilacion", new { id = 0 })', '')"
       class="btn btn-sm btn-primary text-white mt-2"><i class="oi oi-plus"></i> Nuevo</a>
</p>

<div class=" col-md-12">
    <div class="card">
        <div class=" card-header text-center">
            <img src="/images/logo.jpg" style="width: 50px; height: auto;" />
        </div>
        <div class=" card-body text-white">
            <h5 class="card-title text-center">Depilación laser</h5>
            <table id="depilacion" class="table table-hover mt-2">
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">Paciente</th>
                        <th scope="col">Profesion</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Motivo Consulta</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class=" table-secondary">
                            <td>
                                @Html.DisplayFor(modelItem => item.Paciente!.NombrePaciente)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Paciente!.Profesion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Paciente!.Edad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MotivoConsulta)
                            </td>
                            <td>
                                <a onclick="showInPopup('@Url.Action("Details", "Depilacion", new { id = item.Id }, Context.Request.Scheme)' ,
                    '')" class="btn btn-outline-info btn-sm"><i class="oi oi-clipboard"></i> </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<partial name="_MostrarModal" />

@section Scripts {

    <script src="~/js/showmodal.js"></script>

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#depilacion').DataTable(
                {
                    "language": {
                        url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
                    },
                });
        });
    </script>
}
