@model EsteticaAvanzada.Models.EsteticosViewModel
@{
    ViewData["Title"] = "FichaTecnicaFacial";
    Layout = null;
}

<style>
    .checkbox-container {
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: pink;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 15px;
    }

    .checkbox-container input[type="checkbox"] {
            margin-right: 10px;
            width: 20px;
            height: 20px;
    }

     .checkbox-container label {
            margin: 0;
            font-weight: 500;
            font-size: 1rem;
     }
    .imagenes {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .imagen-item {
        border: 1px solid #ccc;
        padding: 5px;
        text-align: center;
    }
</style>

<div class=" col-md-12">
    <div class=" card">
        <div class=" card-header text-center">
            <img src="/images/logo.jpg" style="width: 50px; height: auto;" />
            <h5> Historia clinica facial</h5>
        </div>
        <div class=" card-body">
            <form asp-action="FichaTecnicaFacial" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Paciente!.Id" type="hidden" />
                <div class=" row">
                    <h6> Identificacion del paciente</h6>
                    <div class=" col-md-6">
                        <div class="form-group">
                            <label>Numero de identidad: </label>
                            <input asp-for="Paciente!.DNI" class="form-control" readonly="true" />
                            <span asp-validation-for="Paciente!.DNI" class="text-danger"></span>
                            <label>Nombre: </label>
                            <input asp-for="Paciente!.NombrePaciente" class="form-control" readonly="true" />
                            <span asp-validation-for="Paciente!.NombrePaciente" class="text-danger"></span>
                            <label>Edad: </label>
                            <input asp-for="Paciente!.Edad" class="form-control" readonly="true" />
                            <span asp-validation-for="Paciente!.Edad" class="text-danger"></span>
                            <label>Sexo: </label>
                            <input asp-for="Paciente!.Sexo" class="form-control" readonly="true" />
                            <span asp-validation-for="Paciente!.Sexo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Telefono: </label>
                            <input asp-for="Paciente!.Telefono" class="form-control" readonly />
                            <span asp-validation-for="Paciente!.Telefono" class="text-danger"></span>
                            <label>Correo: </label>
                            <input asp-for="Paciente!.Correo" class="form-control" readonly />
                            <span asp-validation-for="Paciente!.Correo" class="text-danger"></span>
                            <label>Direccion: </label>
                            <input asp-for="Paciente!.Direccion" class="form-control" readonly />
                            <span asp-validation-for="Paciente!.Direccion" class="text-danger"></span>
                            <label>Profesion: </label>
                            <input asp-for="Paciente!.Profesion" class="form-control" readonly />
                            <span asp-validation-for="Paciente!.Profesion" class="text-danger"></span>
                        </div>
                    </div>
                    <div class=" form-group">
                        <label> Contacto de emergencia: </label>
                        <input asp-for="Paciente!.Contacto" class="form-control" readonly />
                        <span asp-validation-for="Paciente!.Contacto" class="text-danger"></span>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <h6>Implantes o injertos</h6>
                        <div class=" form-group checkbox-container"><label> Menton: </label><input asp-for="DatosEsteticos!.Menton" type="checkbox" /></div>
                        <div class=" form-group checkbox-container"><label> Mejilla: </label><input asp-for="DatosEsteticos!.Mejillas" type="checkbox" /></div>
                        <div class=" form-group checkbox-container"><label> Nariz: </label><input asp-for="DatosEsteticos!.Nariz" type="checkbox" /></div>
                        <div class=" form-group checkbox-container"><label> Ninguno: </label><input asp-for="DatosEsteticos!.NingunImplante" type="checkbox" /></div>
                    </div>
                    <div class="col-md-4">
                        <h6>Cirugias y Tratamientos Esteticos</h6>
                        <div class=" form-group checkbox-container"><label> Blefaroplastia: </label><input asp-for="DatosEsteticos!.Blefaroplastia" type="checkbox" /></div>
                        <div class=" form-group checkbox-container"><label> Otoplastia: </label><input asp-for="DatosEsteticos!.Otoplastia" type="checkbox" /></div>
                        <div class=" form-group checkbox-container"><label> Bichectomia: </label><input asp-for="DatosEsteticos!.Bichectomia" type="checkbox" /></div>
                        <div class=" form-group checkbox-container"><label> Rinoplastia: </label><input asp-for="DatosEsteticos!.Rinoplastia" type="checkbox" /></div>
                        <div class=" form-group checkbox-container"><label> Lifting Qirurgico: </label><input asp-for="DatosEsteticos!.Lifting" type="checkbox" /></div>
                        <div class=" form-group checkbox-container"><label> Ninguno: </label><input asp-for="DatosEsteticos!.NingunaCirugia" type="checkbox" /></div>
                        <div class=" form-group">
                            <label> Otro: </label>
                            <textarea asp-for="DatosEsteticos!.OtroTratamiento" class="form-control"></textarea>
                            <span asp-validation-for="DatosEsteticos!.OtroTratamiento" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h6>Procedimientos Esteticos</h6>
                        <div class=" form-group checkbox-container"><label> Botox: </label><input asp-for="DatosEsteticos!.Botox" type="checkbox" /></div>
                        @* <div class=" form-group"><label> Plasmas: </label><input asp-for="DatosEsteticos!.Plasma" type="checkbox" /></div> *@
                        <div class=" form-group checkbox-container"><label> Acido Hialuronico: </label><input asp-for="DatosEsteticos!.AcidoHialuronico" type="checkbox" /></div>
                        <div class=" form-group checkbox-container"><label> Estimuladores de colágeno: </label><input asp-for="DatosEsteticos!.VitaminaC" type="checkbox" /></div>                        
                        <div class=" form-group checkbox-container"><label> Ninguno: </label><input asp-for="DatosEsteticos!.NingunProcedimiento" type="checkbox" /></div>
                        <div class=" form-group">
                            <label> Otros: </label>
                            <textarea asp-for="DatosEsteticos!.HaceCuantoTiempo" class="form-control"></textarea>
                            <span asp-validation-for="DatosEsteticos!.HaceCuantoTiempo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <hr />
                <h6>Analisis Estetico</h6>
                <div class="row">
                    <div class="col-md-12">
                        <h6>Escala de Glogau</h6>
                        <div class="d-flex justify-content-center">
                            <img src="/images/tipos arrugas.jpeg" class="align-self-center" style="width: 300px; height: 150px;" />
                        </div>                        
                        <br />
                        <label> Tipo: </label>
                        <input asp-for="AnalisisEsteticos!.EscalaGoglau" class="form-control" type = "text"  />
                        <span asp-validation-for="AnalisisEsteticos!.EscalaGoglau" class="text-danger"></span>
                    </div>
                    <hr />
                    <div class="col-md-12">
                        <h6>Escala de Fizpatrick</h6>                      
                        <img src="/images/escala_fizpatrick.webp" style="width: 600px; height: 150px;" />
                        <br />
                        <label> Tipo: </label>
                        <input asp-for="AnalisisEsteticos!.EscalaFizpatrick" class="form-control" type="text" />
                        <span asp-validation-for="AnalisisEsteticos!.EscalaFizpatrick" class="text-danger"></span>
                    </div>
                    <hr />
                    <h6>Tipo de piel</h6>
                    <div class="col-md-6">                      
                        <div class=" form-group checkbox-container"><label> Piel Normal: </label><input asp-for="AnalisisEsteticos!.PielNormal" type="checkbox" /></div>
                        <div class=" form-group checkbox-container"><label> Piel Mixta: </label><input asp-for="AnalisisEsteticos!.PielMixta" type="checkbox" /></div>
                        <div class=" form-group checkbox-container"><label> Piel Hidratada: </label><input asp-for="AnalisisEsteticos!.PielHidratada" type="checkbox" /></div>
                    </div>
                    <div class="col-md-6">                       
                        <div class=" form-group checkbox-container"><label> Piel Desvitalizada: </label><input asp-for="AnalisisEsteticos!.PielDesvitalizada" type="checkbox" /></div>
                        <div class=" form-group checkbox-container"><label> Piel Seca: </label><input asp-for="AnalisisEsteticos!.PielSeca" type="checkbox" /></div>
                        <div class=" form-group checkbox-container"><label> Piel Grasa: </label><input asp-for="AnalisisEsteticos!.PielGrasa" type="checkbox" /></div>
                    </div>
                    <hr />
                    @* <h6>Grado de deshidratacion</h6>
                       <div class="col-md-4">
                            <div class="form-group"><label> Leve: </label><input asp-for="AnalisisEsteticos!.DeshidratacionLeve" type="checkbox" /></div>
                       </div>
                        <div class="col-md-4">
                            <div class="form-group"><label> Medio: </label><input asp-for="AnalisisEsteticos!.DeshidratacionMedio" type="checkbox" /></div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group"><label> Alto: </label><input asp-for="AnalisisEsteticos!.DeshidratacionAlta" type="checkbox" /></div>
                        </div> *@
                     <hr />
                     <h6>Alteraciones de la piel</h6>
                        <div class="col-md-6">
                        <div class=" form-group checkbox-container"><label> Nevus: </label><input asp-for="AnalisisEsteticos!.Nevus" type="checkbox" /></div>
                        <div class=" form-group checkbox-container"><label> Melasma: </label><input asp-for="AnalisisEsteticos!.Macula" type="checkbox" /></div>
                        <div class=" form-group checkbox-container"><label> Acné: </label><input asp-for="AnalisisEsteticos!.Acne" type="checkbox" /></div>
                        </div>
                        <div class="col-md-6">
                        <div class=" form-group checkbox-container"><label> Cicatrices: </label><input asp-for="AnalisisEsteticos!.Cicatrices" type="checkbox" /></div>
                            @* <div class=" form-group"><label> Telangiectasia: </label><input asp-for="AnalisisEsteticos!.Telangiectasias" type="checkbox" /></div> *@
                            <div class=" form-group">
                                <label> Otros: </label>
                                <input asp-for="AnalisisEsteticos!.EspecifiqueOtros" class="form-control" />
                                <span asp-validation-for="AnalisisEsteticos!.EspecifiqueOtros" class="text-danger"></span>
                            </div>
                        </div>
                        <hr />                        
                    <h6>Aspecto de la piel</h6>
                    <div class="col-md-4">
                        <div class="form-group checkbox-container"><label> Fina: </label><input asp-for="AnalisisEsteticos!.TexturaFina" type="checkbox" /></div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group checkbox-container"><label> Mediana: </label><input asp-for="AnalisisEsteticos!.TexturaMediana" type="checkbox" /></div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group checkbox-container"><label> Gruesa: </label><input asp-for="AnalisisEsteticos!.TexturaGruesa" type="checkbox" /></div>
                    </div>
                    <hr />
                    <h6>Poros</h6>
                    <div class="col-md-4">
                        <div class="form-group checkbox-container"><label> Abiertos: </label><input asp-for="AnalisisEsteticos!.PorosAbiertos" type="checkbox" /></div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group checkbox-container"><label> Contraidos: </label><input asp-for="AnalisisEsteticos!.PorosContraidos" type="checkbox" /></div>
                    </div>
                  @*   <div class="col-md-4">
                        <div class="form-group"><label> Semivisibles: </label><input asp-for="AnalisisEsteticos!.PorosSemivisibles" type="checkbox" /></div>
                    </div> *@
                   <hr />                  
                    <h6>Comedones</h6>
                    <div class="col-md-4">
                        <div class="form-group checkbox-container"><label> Negros: </label><input asp-for="AnalisisEsteticos!.ComedonesNegros" type="checkbox" /></div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group checkbox-container"><label> Blancos: </label><input asp-for="AnalisisEsteticos!.ComedonesBlancos" type="checkbox" /></div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group checkbox-container"><label> Ninguno: </label><input asp-for="AnalisisEsteticos!.ComedonesNinguno" type="checkbox" /></div>
                    </div>
                    <hr />
                    <h6>Arrugas</h6>
                    <div class="col-md-3">
                        <div class="form-group checkbox-container"><label> Orbiculares: </label><input asp-for="AnalisisEsteticos!.OrbicularesOjos" type="checkbox" /></div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group checkbox-container"><label> Nasogenianos: </label><input asp-for="AnalisisEsteticos!.Nasogenianos" type="checkbox" /></div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group checkbox-container"><label> Peribucales: </label><input asp-for="AnalisisEsteticos!.Frontales" type="checkbox" /></div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group checkbox-container"><label> Labios: </label><input asp-for="AnalisisEsteticos!.Labios" type="checkbox" /></div>
                    </div>
                    <hr />
                    <h6>Productos actualmente usados</h6>
                    <div class=" form-group">                       
                        <textarea asp-for="AnalisisEsteticos!.ProductosUsados" class="form-control" ></textarea>
                        <span asp-validation-for="AnalisisEsteticos!.ProductosUsados" class="text-danger"></span>
                    </div>
                    <hr />                   
                    <hr />
                    <h6>Diagnostico</h6>
                    <div class=" form-group">
                        <textarea asp-for="AnalisisEsteticos!.DiagnosticoEstetico" class="form-control"></textarea>
                        <span asp-validation-for="AnalisisEsteticos!.DiagnosticoEstetico" class="text-danger"></span>
                    </div>
                    <div class="col-md-10">
                        <h7>Fototipo piel</h7>
                        <div class="form-group">
                            <label>Imagen</label>
                            <input type="file" class="form-control mb-3" name="file">
                        </div>
                    </div>
                    <div>
                        <h6>Imágenes</h6>
                        <div class="imagenes">
                            @foreach (var imagen in Model.Fotos)
                            {
                                <div class="imagen-item">
                                    <img src="@imagen.RutaArchivo" alt="@imagen.NombreArchivo" style="width:200px;height:200px;" />
                                    <p>@imagen.FechaSubida.ToString("dd/MM/yyyy")</p>
                                </div>
                            }
                        </div>
                    </div>
                    <label> Proxima Cita: </label>
                    <input asp-for="AnalisisEsteticos!.ProximaCita" class="form-control" type="datetime-local" />
                    <span asp-validation-for="AnalisisEsteticos!.ProximaCita" class="text-danger"></span>
                    <hr />
                    <h6>Plan de tratamiento</h6>
                    <div class=" form-group">
                        <textarea asp-for="AnalisisEsteticos!.ObjetivosTratamiento" class="form-control"></textarea>
                        <span asp-validation-for="AnalisisEsteticos!.ObjetivosTratamiento" class="text-danger"></span>
                    </div>
                   @*  <h6>Tratamiento proposito</h6>
                    <div class=" form-group">
                        <textarea asp-for="AnalisisEsteticos!.TratamientoProposito" class="form-control"></textarea>
                        <span asp-validation-for="AnalisisEsteticos!.TratamientoProposito" class="text-danger"></span>
                    </div> *@
                    <h6>Procedimiento realizado: </h6>
                    <div class=" form-group">
                        <textarea asp-for="AnalisisEsteticos!.Observaciones" class="form-control"></textarea>
                        <span asp-validation-for="AnalisisEsteticos!.Observaciones" class="text-danger"></span>
                    </div>
                    <h6>Consentimiento informado</h6>
                   @*  <div class=" form-group">
                        <textarea asp-for="AnalisisEsteticos!.ConsentimientoInformado" class="form-control"></textarea>
                        <span asp-validation-for="AnalisisEsteticos!.ConsentimientoInformado" class="text-danger"></span>
                    </div> *@
                    <a asp-controller="Pacientes"
                       asp-action="PDFBotulinica"
                       asp-route-id="@Model.Paciente!.Id"
                       class="btn btn-danger btn-sm mb-2"><i class="fa-solid fa-file-pdf"></i> Toxina Botulinica</a>
                    <a asp-controller="Pacientes"
                       asp-action="PDFMicroneedling"
                       asp-route-id="@Model.Paciente!.Id"
                       class="btn btn-success btn-sm mb-2"><i class="fa-solid fa-file-pdf"></i> Microneedling</a>
                    <a asp-controller="Pacientes"
                       asp-action="PDFPeeling"
                       asp-route-id="@Model.Paciente!.Id"
                       class="btn btn-warning btn-sm mb-2"><i class="fa-solid fa-file-pdf"></i> Peeling Quimico</a>
                   @*  <div class=" form-group">
                        <label> Nombre: </label>
                        <input asp-for="Paciente!.NombrePaciente" class="form-control" />
                        <span asp-validation-for="Paciente!.NombrePaciente" class="text-danger"></span>
                    </div> *@
                </div>
                <div class=" card-footer mt-3">
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-success"><i class="oi oi-check"></i> Guardar</button>
                        <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal"><i class="oi oi-ban"></i> Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
